version: '2.1'
orbs:
  android: circleci/android@1.0

commands:
  test:
    description: "Run test"
    steps:
      - run:
          command: bundle exec test -f pretty -f junit -o
          when: always

jobs:
  test:
    executor: test
    steps:
      - checkout
      - test
workflows:
  test:
    jobs:
      - test # run the `echo` command